h1 {
    color: #ffffff;
    font-size: 300%;
    font-family: Arial black;
    text-align: center;
}
h2{ color: #133463;
font-size: 100px;
font-family: Arial black;
text-align: center;
}

h3{
    color: #133463;
    font-family: Arial black;
    font-size: x-large;
}
